Screen {
    layout: grid;
    grid-size: 1 4;
    grid-rows: 3 3 7 1;
    grid-columns: 80;
}

Button {
    background: #3b7735ff;
    padding: 0 1;
    border: none;
    width: 8;
}

Log {
    border: round  #0c323e;
}

.title {
    border: round #0c323e;
    text-style: bold;
    width: 100%;
}


.box {
    border: round #0c323e;
    width: 100%;
}