name: Publish to PyPI

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:

jobs:
    build-and-publish:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install Poetry
              run: |
                  curl -sSL https://install.python-poetry.org | python3 -
                  echo "$HOME/.local/bin" >> $GITHUB_PATH

            - name: Configure Poetry
              run: |
                  poetry config virtualenvs.create false
                  poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}

            - name: Install dependencies
              run: poetry install --no-root

            - name: Show package metadata
              run: |
                poetry version
                poetry run python -c "import tomllib, pathlib; d=tomllib.loads(pathlib.Path('pyproject.toml').read_text()); print('name =', d['tool']['poetry']['name']); print('version =', d['tool']['poetry']['version'])"

            - name: Build package
              run: poetry build

            - name: Publish to PyPI
              run: poetry publish
